body {
    background-color: #d6c79e;
    color: #635844;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 60px;
}

img {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
}